{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница не найдена</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'error/css/404.css' %}">
</head>
<body>

    <div class="container error-container">
        <img src="{% static 'error/images/404.png' %}" alt="404 - Not Found" class="error-image">
        <h1 class="error-title">Ой! Страница не найдена</h1>
        <p>Похоже, что этой страницы не существует или она была удалена.</p>
        <a href="{% url 'photo:index' %}">На главную</a>
    </div>

</body>
</html>
